<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.CSS"
    <title>CSS Layout</title>
</head>
<body>
    <h1>CSS Layout</h1>
    <h2>Box-sizing Property Example</h2>

    <div class="box-content">
        <p>Content</p>
    </div>
    <br>

    <div class="box-border">
        <p>Border Box</p>
    </div>
    <br>

    <h2>Display Property Example</h2>

    <div class="block">Block Element</div>

    <span class="inline">Inline Element</span>

    <div class="inline-block">Inline-Block Element</div>
    <br><br>

    <h2>Positioning Elements Example</h2>

    <div class="sticky">Sticky Position</div>

    <div class="static">Static Position</div>

    <div class="Relative">Relative Position</div>
    
    <div class="absolute">Absolute Position</div>

    <div class="fixed">Fixed Position</div>
    <br><br>

    <h1>Floats and Clearing Floats Example</h1>

    <div>
        <div class="float-right">Float Right</div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptas quia error eum iure quibusdam, labore cumque adipisci repellat assumenda magnam exercitationem suscipit similique in, praesentium minus repudiandae minima nulla!
    </div>

    <div>
        <div class="float-left">Float Left</div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus iste magni est doloribus, dolores facilis aspernatur totam rerum incidunt consequatur ad, reprehenderit, corporis praesentium adipisci voluptatibus ut exercitationem repudiandae autem! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, minima suscipit, ipsum ea molestiae sit sapiente pariatur corporis accusantium hic magnam quo assumenda odio eius. Mollitia dicta nemo a? Illo?

        <div class="clear-floats">Clear Floats</div>

        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae suscipit dolorum maxime dolore neque deleniti, sapiente velit quas, rem esse voluptates quasi. Natus iste repellendus cupiditate, cum id deserunt nisi!
    </div>

    <h2>Centering Elements Example</h2>

    <div class="parent-box">
        <div class="center-horizontal">
            <p>This box is horizontally centered.</p>
         </div>
    </div>
    
    <div class="parent-box center-vertical">
        <div>
            <p>This text is vertically centered.</p>
        </div>
    </div>

    <div class="parent-box center-horizontal-vertical">
        <div>
            <p>
                This text is vertically and horizontally centered.
            </p>
        </div>
    </div>

    <br><br><br>
</body>
</html>