.font-family-size {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.center-align {
    text-align: center;
}

.line-through {
    text-decoration: line-through;
}

.line-height {
    line-height: 1.5;
}

.letter-spacing {
    letter-spacing: 5px;
}

.text-shadow {
    text-shadow: 2px 5px 10px rgba(8, 29, 60, 0.5);
  }