* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


span {
    background-color: green;
}
li {
    background-color: red;
}

.listClass {
    background-color: aqua;
}

#listId {
    background-color: antiquewhite;
}

li[value="list"] {
    background-color: yellow;
}

.listClass1, .listClass2 {
    background-color: skyblue;
}

ul .listClass3 {
    background-color: indigo;
    color: white;
}

/* Pseudo-Classes */
.hoverBtn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.activeBtn:active {
    background-color: darkgray;
    color: black;
}

.focusInput:focus {
    background-color: skyblue;
    border-width: 5px;
}

.visitedlink:visited {
    color: red;
}

/* Pseudo-Elements */
.meow::first-letter {
    font-size: 2em;
}

.firstLine::first-line {
    color:blue
}

.beforeAndAfter::before {
    content: "before";
    color: red;
}

.beforeAndAfter::after {
    content: "after";
    color: blue;
}

.selectParts::selection {
    background-color: crimson;
}

/* Earlier rule */ add important will prioritize 
.cascade {
    color: red;
}

/* Later rule */
.cascade {
    color:blue
}

/* Box Model */
.boxModel {
    background-color: white;
    border: purple 5px solid;
    border-radius: 30px;
    border-style: double;
    /* 1 value = all sides 
    2 values = top & buttom, right & left
    3 values = top, right & left, buttom
    4 values = top, right, buttom, left */
    margin: 10px 20px 30px 40px;
    padding: 10px;
}